p { 
	margin-bottom: 0;
 }

 h1 {
 	margin-bottom: 0;
 }




.link-space {
    margin-left: 20px;
}
.login {
    height: 40px;
    width: 90px;
    text-align: center;
    border-radius: 25px;
    border: 1px solid #8fc63d;
    transition: 0.5s;

}
.login:hover {
	background: #8fc63d !important;
	color: #fff !important;
}

.navegation {
	padding: 25px 15px;
}

/*banner section start*/
.banner {
	background: linear-gradient(#a9bbafbd, #ad896e63), url(../img/bg.png);
	min-height: 60vh;
	background-size: cover;
	position: relative;
}
.banner .banner-content {
    padding: 0px 11%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner h1 {color: #fff;margin-bottom: 10%;font-size: 40px;}
.banner h1 span {
    font-size: 30px;
}
.banner a {}
.banner .become {
    padding: 10px 20px;
    background: #8fc63d;
    color: #fff;
}


/*single blog section*/

.blog {
    padding: 80px 0;
}
.blog img {
    margin-bottom: 30px;
}
.blog p{
    padding: 0 15%;
    margin-bottom: 30px;
}

.blog h2 {
	padding: 0 25%;
	text-transform: uppercase;
	font-size: 25px;line-height: 1.7;
	margin-bottom: 30px;
}


/*num-tab section*/
.num-tab {
    padding: 100px 0;
}
.num-tab .nav-pills {
    border-bottom: 1px solid #d8d7d7cf;
}
.num-tab .nav-pills a {
    color: #000;
    font-size: 20px;
    padding-bottom: 30px;
    background: content-box;
}
.num-tab .nav-pills a span {
    background: #525252;
    height: 40px;
    width: 40px;
    display: inline-block;
    line-height: 40px;
    border-radius: 20px;
    color: #fff;
    margin-right: 12px;
}
.nav-pills .nav-link.active {
    background: none;
    color: #525252;
    border-bottom: 1px solid #add136;
    border-radius: 0;
}
.nav-pills .nav-link.active .number {
	background: #add136;
}


.tab-content {
    margin-top: 40px;
}
.tab-content h3 {
	color: #add136;
}

.tab-content img {
	display: block;
	margin: 0 auto;
}

/*find section*/

.find {}
.left{
    background: #e2f8ff;
    padding: 5% 1% 5% 10%;
}
.find img {
    display: block;
    width: 70%;
}
.find h5 {
    font-size: 20px;
    color: #515151;
    font-weight: 700;
    margin-bottom: 5%;
    text-align: left;
}

.walet {}
.lamp {}
.find img {}

.find p {
    margin-bottom: 6%;
    padding: 1px 25%  0 0;
    line-height: 1.7;
    text-align: left;
}
.find .member {
    background: #8fc63d;
    color: #fff;
    float: left;
}

.right {
    background: #f5f9eb;
    padding: 5% 1% 5% 10%;
}


.project {
    background: #26a6d1;
    color: #fff;
    float: left;
}


/*card item section*/

.items {
    padding: 80px 0;
}

.become2 {
    float: right;
    padding: 10px 20px;
    border: 1px solid #000;
    color: #000;
    border-radius: 20px;
    margin-top: 6%;
}
.items h5 {
    font-size: 30px;
    font-weight: 700;
}
.items p {
    margin: 5% 0;
    text-align: center;
}


.gallary {
    margin-top: 30px;
}
.new {
    background: #8fc63d;
    color: #fff;
    padding: 25px 49px 7px;
    position: absolute;
    top: -4%;
    left: -16%;
    transform: rotate(-45deg);
}
.gbp {
    background: #26a6d1;
    padding: 10px 20px;
    position: absolute;
    right: 5%;
    bottom: 5%;
    color: #fff;
    border-radius: 22px;
}

.items .card {
    position: relative;
    overflow: hidden;
    border: none;
}

.gallary {}
.gallary .card-body .progress2 .progress-bar {
    width: 60%;
    background: #add136; 
}
.gallary .card-body .progress-bar {
    width: 10%;
    background: #add136; 
}
.gallary .card-body h5 {font-size: 26px;margin-bottom: 10px;}
.gallary .card-body {
    background: #fafafa;
    padding: 9% 5% 18% 5%;
}
.gallary .card-body .info p {}
.gallary .card-body .line {
    height: 1px;
    background: #424242;
    color: #fff;
    margin-top: 6%;
}
.gallary .card-body .btn-project {
    float: right;
    margin-top: 5%;
    background: transparent;
    font-size: 15px;
}
.gallary .card-body .btn-project i {
    color: #add136;
}


/*feedback section*/

.feedback {
	background: url(../img/bg-2.png);
	padding: 80px 0;
	background-size: cover;
	background-position: center;
}

.feedback h1 {
	color: #add136;
}

.feedback h3 {
	color: #add136;
}

.name {}

.client-box {
	position: relative;
}
.feedback-text {
	position: absolute;
}


*feedback section*/

.feedback {
    background: url(../img/bg-2.png);
    /* height: 70vh; */
    background-position: center;
    background-size: cover;
    padding: 113px 0;
}

.feedback h1 {
    text-align: center;
    color: #add136;
    margin-bottom: 2%;
}

.feedback p {
    text-align: center;
    font-size: 15px;
}

.client-box {
    margin-top: 5%;
    position: relative;
}

.c-feedback {
    position: absolute;
    top: 30%;
    padding: 10px 90px !important;
}
.name {position: absolute;bottom: 5%;left: 37%;}
.heading {
    position: absolute;
    top: 17%;
    left: 32%;
    font-weight: 700;
    color: #add136;
}

.client-img {
    margin-left: -43%;
    margin-top: 2%;
}
.f {
    padding: 0 11%;
    margin-bottom: 7%;
}
/*lsgos section start */

.logos {
    padding: 50px 0;
}


/*footer section*/

.footer-p {
    padding: 40px 0;
}

