body {
    font-family: 'Open Sans', sans-serif;
}

p {
    padding: none;
    color: #515151;
    font-size: 16px;
}


/*navbar section*/

.navbar {
    padding: 20px 0;
}

.login {
    background: #bcda5c;
    display: inline-block;
    height: 40px;
    width: 100px;
    border-radius: 21px;
    color: #fff !important;
    text-align: center;
    line-height: 25px;
    transition: .5s;
}
.nav-link {
    margin-left: 22px;
    color: #3f3f3f;
    font-size: 15px;
}

.nav-link:hover {
    color: #bcda5c;
}

.nav-item.active .nav-link {
    color: #bcda5c;
}



.login:hover {
    background: none;
    border: 1px solid #bcda5c;
    color: #3f3f3f !important;
}   


/*banner section start */

.become {
    padding: 12px 25px;
    background: #8fc63d !important;
    color: #fff !important;
}

.become:hover {
    color: #fff;
    background: #70b10f;
}
.banner {
    background: linear-gradient(#a9bbafbd, #ad896e63), url(../img/bg.png);
    background-position: center;
    background-size: cover;
    height: 70vh;
}
.banner h1 {
    color: #fff;
    font-size: 50px;
    padding-top: 16%;
    margin-bottom: 50px;
}
.banner h1 span {
    font-size: 30px;
}


/*blog section*/

.blog {
    padding: 120px 0;
}
.blog img {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
.blog h1 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    line-height: 44px;
    margin-bottom: 44px;
}
.blog p {
    padding: 0px 10%;
    text-align: center;
    font-size: 17px;
}


/*number section*/
.number {
    background: #495057;
    height: 40px;
    width: 40px;
    display: inline-block;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    margin-right: 9%;
}
.num {
    height: 40px;
    background: #add136;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-weight: 700;
}
.number p {
        font-size: 30px;
        margin-top: 10PX;
}

/*tap-bar section*/

/*.number section*/

.num-tab {
    padding: 80px 0;
}

.num-tab img {
    display: block;
    margin: 0 auto;
}
.num-tab h3 {
    color: #add136;
    margin-bottom: 3%;
}


.nav-pills {
    background: transparent;
    border-bottom: 1px solid #0000000d;
}
.nav-pills .nav-link{

background: transparent !important;

color: black !important;

font-size: 20px;
}
.nav-pills .nav-link span {}
.nav-pills .nav-link.active{
    border-bottom: 1px solid #add136;
    border-radius: 0;
    padding-bottom: 37px;
}
.nav-pills .number{
}
.nav-pills .nav-link.active .number{
    background: #add136;
}

.tab-content {
    margin-top: 30px;
}


/*find section*/

.find {}
.left{
    background: #e2f8ff;
    padding: 5% 1% 5% 10%;
}
.find img {
    display: block;
    width: 90%;
}
.find h5 {
    font-size: 20px;
    color: #515151;
    font-weight: 700;
    margin-bottom: 5%;
    text-align: left;
}

.walet {}
.lamp {}
.find img {}

.find p {
    margin-bottom: 6%;
    padding: 1px 25%  0 0;
    line-height: 1.7;
    text-align: left;
}
.find .member {
    background: #8fc63d;
    color: #fff;
    float: left;
}

.right {
    background: #f5f9eb;
    padding: 5% 1% 5% 10%;
}


.project {
    background: #26a6d1;
    color: #fff;
    float: left;
}


/*card item section*/

.items {
    padding: 80px 0;
}

.become2 {
    float: right;
    padding: 10px 20px;
    border: 1px solid #000;
    color: #000;
    border-radius: 20px;
    margin-top: 6%;
}
.items h5 {
    font-size: 30px;
    font-weight: 700;
}
.items p {
    margin: 5% 0;
}


.gallary {
    margin-top: 30px;
}
.new {
    background: #8fc63d;
    color: #fff;
    padding: 25px 49px 7px;
    position: absolute;
    top: -2%;
    left: -13%;
    transform: rotate(-45deg);
}
.gbp {
    background: #26a6d1;
    padding: 10px 20px;
    position: absolute;
    right: 5%;
    bottom: 5%;
    color: #fff;
    border-radius: 22px;
}

.items .card {
    position: relative;
    overflow: hidden;
    border: none;
}

.gallary {}
.gallary .card-body .progress2 .progress-bar {
    width: 60%;
    background: #add136; 
}
.gallary .card-body .progress-bar {
    width: 10%;
    background: #add136; 
}
.gallary .card-body h5 {font-size: 26px;margin-bottom: 10px;}
.gallary .card-body {
    background: #fafafa;
    padding: 9% 5% 18% 5%;
}
.gallary .card-body .info p {}
.gallary .card-body .line {
    height: 1px;
    background: #424242;
    color: #fff;
    margin-top: 6%;
}
.gallary .card-body .btn-project {
    float: right;
    margin-top: 5%;
    background: transparent;
    font-size: 16px;
}
.gallary .card-body .btn-project i {
    color: #add136;
}


/*feedback section*/

.feedback {
    background: url(../img/bg-2.png);
    /* height: 70vh; */
    background-position: center;
    background-size: cover;
    padding: 113px 0;
}

.feedback h1 {
    text-align: center;
    color: #add136;
    margin-bottom: 2%;
}

.feedback p {
    text-align: center;
    font-size: 15px;
}

.client-box {
    margin-top: 5%;
    position: relative;
}

.c-feedback {
    position: absolute;
    top: 30%;
    padding: 10px 90px !important;
}
.name {position: absolute;bottom: 5%;left: 37%;}
.heading {
    position: absolute;
    top: 17%;
    left: 32%;
    font-weight: 700;
    color: #add136;
}

.client-img {
    margin-left: -43%;
    margin-top: 2%;
}
.f {
    padding: 0 11%;
    margin-bottom: 7%;
}
/*lsgos section start */

.logos {
    padding: 50px 0;
}


/*footer section*/

.footer-p {
    padding: 40px 0;
}






/*responsive*/

@media (max-width: 320px) {

    p {
        font-size: 12px;
    }

    .banner {
        height: 40vh !important;
    }
    .navbar-brand {
    margin-left: 10px;
    width: 50%;
}

.banner h1 {
    font-size: 25px;
    margin-top: 26%;
}
.banner h1 span {
    font-size: 16px;
}

.become {
}

.blog h1 {
    font-size: 17px;
    line-height: 1.7;
}
.blog p {
    font-size: 12px;
    padding: 0;
}

.blog {
    padding: 40px 0;
}


    /*tab section*/

 .nav-pills .nav-link {
    font-size: 16px;
}

.num-tab h3 {
    margin: 20px;
    font-size: 18px;
    text-align: center;
} 

.num-tab img {
    width: 25%;
}  

.num-tab .tab-content p {
    font-size: 12px;
    text-align: center;
}

.find img {
    width: 40%;
    margin: 0 auto;
    padding: 18px 0;
}

.find p {
    text-align: center;
    font-size: 13px;
    padding: 5%;
}

.find h5 {
    text-align: center;
}
.member, .project {
    font-size: 12px !important;
    margin-left: 90px !important;
}
.left, .right {
    
padding: 5% 0% 5% 0%;
}


/*item section*/
.items h5 {
    font-size: 20px !important;
    text-align: center;
}

.items p {
    text-align: center;
}

.become2 {
    margin-right: 67px !important;
}

.gallary .card-body h5 {
    font-size: 20px !important;
}

.gallary .col-md-4 {
    padding: 20px;
}

.feedback h1 {
    margin-bottom: 4%;
    font-size: 24px;
}
.feedback p {
    font-size: 12px !important;
    padding: 0 8% !important;
}
.heading {
    top: 12% !important;
    left: 22% !important;
}

.name {
    left: 46% !important;
}


}





/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

p {
    font-size: 14px !important;
}
.banner {
        height: 60vh;
    }
    .navbar-brand {
    margin-left: 10px;
    width: 50%;
}

.banner h1 {
    font-size: 25px;
    margin-top: 26%;
}
.banner h1 span {
    font-size: 16px;
}

.become {
    font-size: 12px;
    width: 56%;
    margin-top: 50px;
}

.blog h1 {
    font-size: 17px;
    line-height: 1.7;
}
.blog p {
    font-size: 12px;
    padding: 0;
}

.blog {
    padding: 40px 0;
}


    /*tab section*/

 .nav-pills .nav-link {
    font-size: 16px;
}

.num-tab h3 {
    margin: 20px;
    font-size: 18px;
    text-align: center;
} 

.num-tab img {
    width: 20%;
}  

.num-tab .tab-content p {
    font-size: 12px;
    text-align: center;
}

.find img {
    width: 30%;
    margin: 0 auto;
    padding: 18px 0;
}

.find p {
    text-align: center;
    font-size: 16px;
    padding: 0 10%;
}

.find h5 {
    text-align: center;
}
.member, .project {
    font-size: 15px;
    margin-left: 35%;
}
.left, .right {
    
padding: 5% 0% 5% 0%;
}


/*item section*/
.items h5 {
    font-size: 20px;
    text-align: center;
}

.items p {
    text-align: center;
}

.become2 {
    font-size: 12px;
    margin-right: 35%;
}

.gallary .card-body h5 {
    font-size: 30px;
}

.gallary .col-md-4 {
    padding: 20px;
}

.feedback h1 {
    margin-bottom: 4%;
    font-size: 24px;
}
.feedback p {
    font-size: 12px;
    padding: 0 10%;
}
.heading {
    top: 20%;
    left: 35%;
}

.name {
    left: 40%;
}



}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 


.become {
        font-size: 12px;
}
.banner h1 {
        font-size: 37px;
        padding-top: 37%;
        margin-bottom: 22px;
}

.banner h1 span {
    font-size: 20px;
}
.blog h1 {
       font-size: 30px;
        
    }

.num-tab h3 {    
    text-align: center;

}
.find img {

} 

}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    
}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { ... }